body {
    background-color: #181A1B!important;
    color: white!important;
    margin: 0;
     font-family: 'Inter', sans-serif;

}

.teste {
    color:white!important;
}

* tr {
  color:white!important;
}
